body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 4px;
}

#root{
  display: inline-block;
  border:1px solid #999;
  float:left;
}

.menu{
  display: inline-block;
  margin:0 10px;
}
.start{
  height:30px;
  width:40px;
  padding:0 4px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  color:#000;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  height: 24px;
  padding: 1px;
  text-align: center;
  width: 24px;
}
